<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Testing</title>
        <link rel="stylesheet" href="./style.css" type="text/css">
    </head>
    <body>
        <h1>EmuStreamServer</h1>
        <div id="emulators">
            <div class="emulator">
                <h1>Citra</h1>
            </div>
            <div class="emulator">
                <h1>Yuzu</h1>
            </div>
            <div class="emulator">
                <h1>Dolphin</h1>
            </div>
        </div>
        <canvas id="canvas"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/jsmpeg-player"></script>
        <script src="./web.js"></script>
    </body>
</html>